# Ionic Default .gitignore
build/*~
build/*.sw[mnpcod]
build/*.log
build/*.tmp
build/*.tmp.*
build/log.txt
build/*.sublime-project
build/*.sublime-workspace
build/.vscode/

build/.idea/
build/.sass-cache/
build/.tmp/
build/.versions/
build/coverage/
build/dist/
build/node_modules/
build/tmp/
build/temp/
build/hooks/
build/platforms/*
!build/platforms/.gitkeep
build/plugins/
build/plugins/android.json
build/plugins/ios.json
build/www/*
!build/www/.gitkeep
build/$RECYCLE.BIN/

build/.DS_Store
build/Thumbs.db
build/UserInterfaceState.xcuserstate
/build/src/theme/custom.scss
/build/src/app/pages.ts
/build/src/app/config.ts
/build/resources/android/
/build/resources/ios/
/build/resources/preview/
/build/config.ini
/build/src/assets/bottomMenu.ts
/build/src/assets/static_pages.js
/build/src/assets/staticUrls.ts
/build/my-release-key.keystore

*.apk