<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>
        <settings>
            <config>
                <section name="quiqqerApp.settings">

                    <conf name="fontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#333333</defaultvalue>
                    </conf>
                    <conf name="backgroundColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="advertisement">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="lastEdit">
                        <type><![CDATA[int]]></type>
                    </conf>
                    <conf name="availableLanguages">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="splash">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="menuFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="menuBackgroundColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#1874cd</defaultvalue>
                    </conf>
                    <conf name="menuBottom">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>

                </section>
            </config>

            <window>
                <categories>

                    <category name="quiqqerApp">
                        <text>
                            <locale group="quiqqer/app"
                                    var="quiqqerApp.settings.category.title"
                            />
                        </text>
                        <icon>fa fa-id-badge</icon>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.general">

                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.general.title"
                                />
                            </title>
                            <input type="hidden" data-qui="package/quiqqer/app/bin/controls/TitleSetting">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.title.text"
                                    />
                                </text>
                            </input>

                            <input type="hidden" data-qui="package/quiqqer/app/bin/controls/DescriptionSetting">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.description.text"
                                    />
                                </text>
                            </input>

                            <input conf="quiqqerApp.settings.availableLanguages"
                                   type="hidden"
                                   data-qui="package/quiqqer/app/bin/controls/AvailableLanguages">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.availableLanguages.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.fontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.fontColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.backgroundColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.backgroundColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.logo"
                                   class="media-image">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.logo.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.splash"
                                   class="media-image">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.splash.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.advertisement"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.advertisement.text"
                                    />
                                </text>
                            </input>
                        </settings>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.menu">

                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.menu.title"
                                />
                            </title>
                            <input conf="quiqqerApp.settings.menuFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.menuFontColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.menuBackgroundColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.menuBackgroundColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.menuBottom"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.menuBottom.text"
                                    />
                                </text>
                            </input>

                        </settings>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.menuStructure"
                        >
                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.menuStructure.title"
                                />
                            </title>

                            <input conf="quiqqerApp.settings.menu"
                                   type="hidden"
                                   label="false"
                                   data-qui="package/quiqqer/app/bin/controls/MenuStructure"/>
                        </settings>


                    </category>
                </categories>
            </window>
        </settings>
    </project>
</quiqqer>