<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>
        <settings>
            <config>
                <section name="quiqqerApp.settings">
                    <conf name="version">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>1.0.0</defaultvalue>
                    </conf>
                    <conf name="author.name">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="author.email">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="fontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#333333</defaultvalue>
                    </conf>
                    <conf name="backgroundColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="advertisement">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="advertisement.admobid">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="lastEdit">
                        <type><![CDATA[int]]></type>
                    </conf>
                    <conf name="availableLanguages">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="splash">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="menuFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="menuBackgroundColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#1874cd</defaultvalue>
                    </conf>
                    <conf name="menuBottom">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="bottomMenu.iconLayout">
                        <type><![CDATA[text]]></type>
                        <defaultvalue>icon-top</defaultvalue>
                    </conf>
                    <conf name="staticPages">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="quiqqerApp">
                        <text>
                            <locale group="quiqqer/app"
                                    var="quiqqerApp.settings.category.title"
                            />
                        </text>
                        <icon>fa fa-id-badge</icon>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.general">

                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.general.title"
                                />
                            </title>
                            <input type="hidden" data-qui="package/quiqqer/app/bin/controls/TitleSetting">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.title.text"
                                    />
                                </text>
                            </input>

                            <input type="hidden" data-qui="package/quiqqer/app/bin/controls/DescriptionSetting">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.description.text"
                                    />
                                </text>
                            </input>

                            <input conf="quiqqerApp.settings.version" type="text">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.version.text"
                                    />
                                </text>
                            </input>

                            <input conf="quiqqerApp.settings.author.name" type="text">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.author.name.text"
                                    />
                                </text>
                            </input>

                            <input conf="quiqqerApp.settings.author.email" type="text">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.author.email.text"
                                    />
                                </text>
                            </input>

                            <input conf="quiqqerApp.settings.availableLanguages"
                                   type="hidden"
                                   data-qui="package/quiqqer/app/bin/controls/AvailableLanguages">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.availableLanguages.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.fontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.fontColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.backgroundColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.backgroundColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.logo"
                                   class="media-image"
                                   data-qui-options-selectable_types="image"
                                   data-qui-options-selectable_mimetypes="image/png">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.logo.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/app" var="quiqqerApp.settings.logo.description"/>
                                </description>
                            </input>
                            <input conf="quiqqerApp.settings.splash"
                                   class="media-image"
                                   data-qui-options-selectable_types="image"
                                   data-qui-options-selectable_mimetypes="image/png">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.splash.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/app" var="quiqqerApp.settings.splash.description"/>
                                </description>
                            </input>
                            <input conf="quiqqerApp.settings.advertisement"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.advertisement.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.advertisement.admobid"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.advertisement.admobid.text"
                                    />
                                </text>
                            </input>
                        </settings>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.menu">

                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.menu.title"
                                />
                            </title>
                            <input conf="quiqqerApp.settings.menuFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.menuFontColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.menuBackgroundColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.menuBackgroundColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="quiqqerApp.settings.menuBottom"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.menuBottom.text"
                                    />
                                </text>
                            </input>

                        </settings>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.sideMenuStructure"
                        >
                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.sideMenuStructure.title"
                                />
                            </title>

                            <input conf="quiqqerApp.settings.sideMenu"
                                   type="hidden"
                                   label="false"
                                   data-qui="package/quiqqer/app/bin/controls/MenuStructure"
                                   data-qui-options-menuType="sideMenu"/>

                        </settings>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.bottomMenuStructure"
                        >
                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.bottomMenuStructure.title"
                                />
                            </title>

                            <input conf="quiqqerApp.settings.bottomMenu"
                                   type="hidden"
                                   label="false"
                                   data-qui="package/quiqqer/app/bin/controls/MenuStructure"
                                   data-qui-options-menuType="bottomMenu"/>

                            <select conf="quiqqerApp.settings.bottomMenu.iconLayout">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.desc"/>
                                </description>
                                <option value="icon-top">
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.iconTop"/>
                                </option>
                                <option value="icon-right">
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.iconRight"/>
                                </option>
                                <option value="icon-bottom">
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.iconBottom"/>
                                </option>
                                <option value="icon-left">
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.iconLeft"/>
                                </option>
                                <option value="icon-hide">
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.iconHide"/>
                                </option>
                                <option value="title-hide">
                                    <locale group="quiqqer/app"
                                            var="quiqqerApp.settings.bottomMenuStructure.iconLayout.titleHide"/>
                                </option>
                            </select>
                        </settings>

                        <settings title="quiqqerApp.settings"
                                  name="quiqqerApp.settings.staticPages"
                        >
                            <title>
                                <locale group="quiqqer/app" var="quiqqerApp.settings.staticPages.title"/>
                            </title>

                            <input conf="quiqqerApp.settings.staticPages" type="text">
                                <text>
                                    <locale group="quiqqer/app" var="quiqqerApp.settings.staticPages.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/app" var="quiqqerApp.settings.staticPages.description"/>
                                </description>
                            </input>
                        </settings>


                        <settings>
                            <title>
                                <locale group="quiqqer/app"
                                        var="quiqqerApp.settings.download.title"
                                />
                            </title>
                            <input type="hidden"
                                   disabled="disabled"
                                   data-qui="package/quiqqer/app/bin/controls/DownloadButton"
                                   label="false">
                                <description>
                                    <locale group="quiqqer/app" var="quiqqerApp.settings.download.description"/>
                                </description>
                            </input>
                        </settings>
                    </category>
                </categories>
            </window>
        </settings>
    </project>
</quiqqer>